anki==25.2
beautifulsoup4==4.13.3
cached-property==2.0.1
certifi==2025.1.31
charset-normalizer==3.4.1
chevron==0.14.0
decorator==5.2.1
dotenv==0.9.9
frozendict==2.4.6
genanki==0.13.1
idna==3.10
Markdown==3.7
orjson==3.10.16
protobuf==6.30.2
PySocks==1.7.1
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
soupsieve==2.6
typing_extensions==4.13.0
urllib3==2.3.0
